/* 그냥 css */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&family=Montserrat:ital,wght@1,500&display=swap');
* {
	font-family: 'IBM Plex Sans KR', sans-serif;
	line-height: normal;
}
/*0320슬라이더*/
#sliderDiv {
  background: #F7F5E6;
  /*width: 100%;
  height: 100%;*/
  width: 1000px;
  height: 500px;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}


/* 재선 팝업 창  */
#pop01_section > #pop01_button {
  display: block;
  margin: 0 auto;
  width: 200px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff; /* 배경색 */
  border: 1px solid #dedede; /* 테두리 */
  padding: 5px 10px 6px 7px; /* 패딩 */
  border-radius: 10px;
  cursor: pointer;
}
#pop01_section > #pop01_button:hover {
  background-color: #C9ECFF; /* 배경색 */
  border: 1px solid #0099FF; /* 테두리 */
  border-color: #0099FF; /* 테두리 */
  color: #0099FF; /* 글자색 */
}
.pop01 {
  display: none;
/*팝업창 위치조정 바꾸기*/
  position: absolute;
  top: 50%-1000px;
  left: 50%;
/*여기까지*/
  z-index: 100;
  width: 500px;
  height: 50px; /* **** 수정 */
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  outline: 10px solid rgba(0, 0, 0, 0.1);
}
.pop01 > h1 {
  padding: 30px 30px 10px 30px;
  color: #2a3644;
  font-size: 20px;
  font-weight: bold;
}
.pop01 > p {
  padding-left: 30px;
  font-size: 100%;
  color: #777;
}
.pop01 > span {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 4%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #cccccc;
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

